/* .red{
    color:red;
    font -size: 42px;
}*/

body{
    background-color:aquamarine ;
}
.nav-bar{
    display: FLEX;
    flex-direction: ROW;
    justify-content: space-around;
    align-items: center;
}
.nav-bar>a{
    font-size: 28PX;
    color: white;
    text-decoration: none;
}
.nav-list a{
       margin-right:10px;
}
.rest-of-page{
    display:flex;
    flex-direction:row;
}
.left, .right{
    width:50x;
    border:1px soild black;
    text-align: center;
}
.right{
    
}
}

}